__pycache__
Enunciado.pdf
T3/Sprites
Sprites/
Tareas/T3/Sprites/background/*.png
Tareas/T3/Sprites/dices/*.png
Tareas/T3/Sprites/extra/*.png
T3/Scripts
T3/cliente/encriptacion2.py 
T3/cliente/encriptacion.py
T3/cliente/backendejemplo.py 
T3/cliente/paramet.json
T3/servidor/mainnnn.py
T3/servidor/lol.py
bua/
T3/bua/*.txt
backendejemplo.py
bots.py
T3/cliente/backendejemplo.py
T3/cliente/bots.py
mainnnn.py
T3/servidor/mainnnn.py
lol.py
T3/servidor/lol.py
T3/cliente/abackennd.py
T3/cliente/amainn.py